<nav class="navbar navbar-expand-md navbar-dark navbar-setup">
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="{{ url_for('portfolio.holding') }}"><h2>
        <i class="fas fa-chart-line text-light"></i><span class="nav-title"> BeatTheMarket</span>
    </h2></a>
    {% else %}
    <a class="navbar-brand" href="{{ url_for('user.register') }}"><h2><i
            class="fas fa-chart-line text-light"></i><span class="nav-title"> BeatTheMarket</span>
    </h2></a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-base"
            aria-controls="nav-base" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 nav-base">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('portfolio.holding') }}">Holdings<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('portfolio.pl') }}">P&L</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('portfolio.visualization') }}">Insights</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('news.show') }}">News</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 nav-base">
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}

            <!--            If logged in: Account-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navRight" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color:#fff;">
                    <i class="fas fa-user"></i> {{current_user.email}} </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navRight">
                    <a class="dropdown-item" href="{{ url_for('user.settings') }}" style="color:black;">Settings</a>
                    <a class="dropdown-item" href="{{ url_for('user.logout') }}" style="color:black;">Log out</a>
                </div>
            </li>
            <!--            Account end-->
            {% else %}
            <li class="nav-item ">
                <a href="{{ url_for('user.login') }}" class="nav-link font-weight-bold" style="color:#fff;"><i
                        class="fas fa-sign-in-alt"></i> Log in </a>
            </li>
            {% endif %}

        </ul>
    </div>
    </div>
</nav>
